.Cartitems{
    margin: 10rem 12rem;
}
.Cartitems hr{
    height: 3px;
    background: #e2e2e2;
    border: 0;
}
.Cartitems-format-main{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 5rem;
    padding: 1.5rem 0px;
    color: #454545;
    font-size: 1.6rem;
    font-weight: 600;
}
.Cartitems-format{
    font-size: 1.4rem;
    font-weight: 500;  
    
}
.cart-icon{
    height: 6.2rem;
}
.cart-remove-icon{
    width: 1.5rem;
    margin: 0px 25px;
    cursor: pointer;
}
.Cartitems-quantity{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 6.5rem;
    height: 4.5rem;
    border: 2px solid #ebebeb;
    background: #fff;
}
.margin-left{
    margin-left: 6px;
}
.cartitems-down{
    display: flex;
    
    margin: 10rem 0px;
}
.cartitems-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 15rem;
    gap: 40px;
}
.cartitems-total h1{
    font-size: 2.4rem;
    font-weight: 700;
    text-transform: uppercase;
}
.cartitems-total-item{
    display: flex;
    justify-content:space-between;
    padding: 1.5rem 0px;
    font-size:1.5rem;
}
.cartitems-total button{
    width: 26.2rem;
    height: 4.5rem;
    outline: none;
    border: none;
    background: #ff5a5a;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;

}
.cartitems-promo{
    flex: 1;
    font-size: 1.6rem;
    font-weight: 500;
}
.cartitems-promo p{
    color: #555;
}
.cartitems-promobox{
    width: 50.4rem;
    margin-top: 1.5rem;
    padding-left: 20px;
    height: 4.5rem;
    background: #eaeaea;
}
.cartitems-promobox input{
    border: none;
    outline: none;
    background: transparent;
    font-size: 1.6rem;
    width: 33rem;
    height: 4.5rem;
}
.cartitems-promobox button{
    width: 17rem;
    height: 4.5rem;
    font-size: 1.6rem;
    background: black;
    color: white;
    cursor: pointer;
}

@media(max-width:64rem){
    .cartitems-down{
        justify-content: center;
        align-items: center;
    flex-direction: column;
    gap: 6rem;
}
}
@media(max-width:64rem){
    .Cartitems{
    margin: 10rem 5rem;
}
    .Cartitems-format-main{
    gap: 2rem;
    padding: 1.5rem 0px;
    font-size: 1.2rem;
}
}

