.shopcategory-banner{
    display: block;
    width: 82%;
    margin: 20px auto;
}
.shopcategory-indexsort{
    display: flex;
    margin: 0 120px;
    justify-content: space-between;
    align-items: center;
}
.shopcategory-indexsort p span{
    font-weight: 600;
}
.shopcategory-sort{
    padding: 5px 15px;
    border-radius:40px ;
    border: 1px solid #888;
}
.shopcategory-products{
    margin: 30px 120px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 70px;
}
.shopcategory-load{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 130px auto;
    width: 233px;
    height: 69px;
    border-radius: 70px;
    background: #ededed;
    color: #787878;
    font-size: 18px;
    font-weight: 500;
}