.Descriptionbox{
    margin: 100px 120px;
}
.Descriptionbox-navigator{
    display: flex;

}
.Descriptionbox-nav-box{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    width: 171px;
    height: 70px;
    border: 1px solid #d0d0d0;
    
}
.Descriptionbox-nav-box-fade{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    width: 171px;
    height: 70px;
    border: 1px solid #d0d0d0;
}


.Descriptionbox-des{
     display: flex;
    flex-direction: column;
    gap: 25px;
    border: 1px solid #d0d0d0;
    padding: 48px;
    padding-bottom: 70px;
    justify-content: center;
    text-align:justify;
}
@media(max-width:34.375em){
    .Descriptionbox-des{
    padding: 2rem;
    padding-bottom: 3rem;
    
}
}
