.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}
.footer-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.footer-logo p{
    color: #383838;
    font-size: 3rem;
    font-weight: 600;
}
.footer-links{
    display: flex;
    list-style: none;
    gap: 4.0rem;
    color: #252525;
    font-size: 1.9rem;
    font-weight:600;
}
.footer-links li{
    cursor: pointer;

}
.footer-social-icon{
    display: flex;
    gap: 2.0rem;
}
.footer-icons-container{
    padding: 1.0rem;
    padding-bottom: 6px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
}
.footer-copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.0rem;
    width: 100%;
    margin-bottom: 3.0rem;
    color: #1a1a1a;
    font-size: 2.0rem;
}
.footer-copyright hr{
    width: 80%;
    border: none;
    border-radius: 1.0rem;
    height: 2px;
    background: #c7c7c7;
}

@media(max-width:34.375em){
    .footer-logo img{
          width: 8rem;
    }
    .footer-logo p{
        font-size: 2.6rem;
    }
    .footer-links{
    gap: 3.0rem;
    font-size: 1.6rem;
}
.footer-icons-container{
    padding: .5rem;
}
.footer-copyright{
    font-size: 1.7rem;
}
}